<div ng-controller="EditEmployeeCtrl as ctrl">
<section class="inner-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>
					<img src="images/employee-icon.png" alt=""><span>Edit Employee Details</span>
				</h2>
			</div>
		</div>
	</div>
</section>
<section class="main employee-detail">
	<div class="container">
		<div class="row">
			<form ng-submit="ctrl.editEmployee()" name="editEmployeeForm">
				<div class="col-sm-12">
					<fieldset>
						<legend>Personal Details</legend>
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Firstname <span class="require-field">*</span></label> 
								<input type="text" class="form-control" id="firstname" placeholder="Enter Firstname" name="firstname" maxlength="60" ng-model="ctrl.employee.firstName" required>
							<span class="error" ng-show="editEmployeeForm.firstname.$touched && editEmployeeForm.firstname.$invalid">Please enter First Name</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Middlename</label> 
								<input type="text" class="form-control" id="middlename" placeholder="Enter Middlename" name="middlename" maxlength="60" ng-model="ctrl.employee.middleName">
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Lastname<span class="require-field">*</span></label> 
								<input type="text" class="form-control" id="lastname" placeholder="Enter Lastname" name="lastname" maxlength="60" ng-model="ctrl.employee.lastName" required>
							<span class="error" ng-show="editEmployeeForm.lastname.$touched && editEmployeeForm.lastname.$invalid">Please enter Last Name</span>
							</div>
						</div>
						
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Email<span class="require-field">*</span></label>
								<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" maxlength="100" ng-model="ctrl.employee.email" required>
								<span class="error" ng-show="editEmployeeForm.email.$touched && editEmployeeForm.email.$error.required">Please enter Email</span>
								<span class="error" ng-show="editEmployeeForm.email.$touched && editEmployeeForm.email.$error.email">Please enter valid Email</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Gender<span class="require-field">*</span></label> 
								<select class="form-control" id="gender_name" name="gender_name" ng-model="ctrl.employee.gender" ng-options="gender.GenderName as gender.GenderName for gender in ctrl.genderList" required>
									<option value="">Select Gender</option>
								</select>
								<span class="error" ng-show="editEmployeeForm.gender_name.$touched && editEmployeeForm.gender_name.$invalid">Please select Gender</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Birthdate</label> 
								<input type="text" id="birthDate" name="birthDate" class="form-control" placeholder="MM/DD/YYYY" ng-model="ctrl.employee.birthDate"/>
							</div>
						</div>
						
						<div class="col-sm-12">
							<div class="form-group col-md-12 col-sm-12">
								<label class="lable-color">SSN (Last 4 digits only)</label>
								<input type="text" class="form-control" id="ssn" placeholder="Enter Social Security Number" name="ssn" maxlength="4" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39" ng-model="ctrl.employee.ssn">
							</div>
						</div>
						
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Home Phone</label>
								<input type="text" class="form-control" id="homephone" placeholder="Enter Home Phone" name="homephone" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39" ng-model="ctrl.employee.homePhone">
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Mobile Phone<span class="require-field">*</span></label> 
								<input type="text" class="form-control" id="mobilephone" placeholder="Enter Mobile Phone" name="mobilephone" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39" ng-model="ctrl.employee.mobilePhone" required>
								<span class="error" ng-show="editEmployeeForm.mobilephone.$touched && editEmployeeForm.mobilephone.$invalid">Please enter Mobile Phone</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Work Phone</label>
								<input type="text" class="form-control" id="workphone" placeholder="Enter Work Phone" name="workphone" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 ||  event.keyCode == 37 || event.keyCode == 39" ng-model="ctrl.employee.workPhone">
							</div>
						</div>
						
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Designation</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="designation" placeholder="Enter Designation" name="designation" maxlength="20" ng-model="ctrl.employee.designation" required>
								<span class="error" ng-show="editEmployeeForm.designation.$touched && editEmployeeForm.designation.$invalid">Please enter Designation</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Base Salary</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="basesalary" placeholder="Enter Base Salary" name="basesalary" maxlength="9" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 190 || event.keyCode == 37 || event.keyCode == 39" ng-model="ctrl.employee.baseSalaryAmt" required>
								<span class="error" ng-show="editEmployeeForm.basesalary.$touched && editEmployeeForm.basesalary.$invalid">Please enter Base Salary</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Bonus Amount</label>
								<input type="text" class="form-control" id="bonusAmount" placeholder="Enter Bonus Amount" name="bonusAmount" maxlength="9" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 190 || event.keyCode == 37 || event.keyCode == 39" ng-model="ctrl.employee.bonusAmt">
							</div>					
						</div>
						
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Start Date</label><label class="require-field">*</label>
								<input type="text" id="startDate" name="startDate" class="form-control" placeholder="MM/DD/YYYY" ng-model="ctrl.employee.startDate" required/>
								<span class="error" ng-show="editEmployeeForm.startDate.$touched && editEmployeeForm.startDate.$error.required">Please enter Start Date</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">End Date</label>
								<input type="text" id="endDate" name="endDate" class="form-control" placeholder="MM/DD/YYYY" ng-model="ctrl.employee.endDate"/>
							</div>
							<div class="form-group col-md-4 col-sm-12">&nbsp;</div>
						</div>
						
						<div class="form-group col-md-12 col-sm-12">
							<label class="title-address"> Address</label>
						</div>
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Address1 </label><label class="require-field">*</label>
								<input type="text" class="form-control" id="address1" placeholder="Enter Address1" name="address1" maxlength="100" ng-model="ctrl.employee.empAddress.street1" required>
								<span class="error" ng-show="editEmployeeForm.address1.$touched && editEmployeeForm.address1.$invalid">Please enter Address1</span>
							</div>
							<div class="form-group col-md-8  col-sm-12">
								<label class="lable-color">Address2 </label> 
								<input type="text" class="form-control" id="address2" placeholder="Enter Address2" name="address2" maxlength="100" ng-model="ctrl.employee.empAddress.street2">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">City</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="city" placeholder="Enter City" name="city" maxlength="40" ng-model="ctrl.employee.empAddress.city" required>
								<span class="error" ng-show="editEmployeeForm.city.$touched && editEmployeeForm.city.$invalid">Please enter City</span>
							</div>
							<div class="form-group col-md-4  col-sm-12">
								<label class="lable-color">State</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="state" placeholder="Enter State" name="state" maxlength="2" ng-model="ctrl.employee.empAddress.state" required>
								<span class="error" ng-show="editEmployeeForm.state.$touched && editEmployeeForm.state.$invalid">Please enter State</span>
							</div>
							<div class="form-group col-md-4  col-sm-12">
								<label class="lable-color">Zipcode</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="zipcode" placeholder="Enter Zipcode" name="zipcode" maxlength="15" ng-model="ctrl.employee.empAddress.zipcode" required>
								<span class="error" ng-show="editEmployeeForm.zipcode.$touched && editEmployeeForm.zipcode.$invalid">Please enter Zipcode</span>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Client Details</legend>
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Client Name</label><label class="require-field">*</label>
								<select class="form-control" id="client_name" name="client_name" ng-model="ctrl.employee.empClient.clientName" ng-options="client.name as client.name for client in ctrl.clientList" required>
									<option value="">Select Client</option>
								</select>
								<!--  
								<select
									class="form-control">
									<option>vkm</option>
									<option>vkm</option>
									<option>vkm</option>
									<option>vkm</option>
								</select>
								-->
								<!-- <input type="text" class="form-control" id="client_name" placeholder="Enter Name" name="client_name" maxlength="100" ng-model="ctrl.employee.empClient.clientName" required> -->
								<span class="error" ng-show="editEmployeeForm.client_name.$touched && editEmployeeForm.client_name.$invalid">Please select Client</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Effective Date</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="client_effectivedate" placeholder="Enter Effective Date" name="client_effectivedate" maxlength="10" ng-model="ctrl.employee.empClient.startDate" required>
								<span class="error" ng-show="editEmployeeForm.client_effectivedate.$touched && editEmployeeForm.client_effectivedate.$invalid">Please enter Effective Date</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Terminate Date</label>
								<input type="text" class="form-control" id="client_terminationdate" placeholder="Enter Termination Date" name="client_terminationdate" maxlength="10" ng-model="ctrl.employee.empClient.endDate">
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Health Insurance Details</legend>
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Health Carrier</label><label class="require-field">*</label>
								<select class="form-control" id="insurance_name" name="insurance_name" ng-model="ctrl.employee.empHealthPlan.carrierName" ng-options="healthCarrier.name as healthCarrier.name for healthCarrier in ctrl.healthCarrierList" required>
									<option value="">Select Health Carrier</option>
								</select>
								<!-- 
								<select
									class="form-control">
									<option>vkm</option>
									<option>vkm</option>
									<option>vkm</option>
									<option>vkm</option>
								</select>
								-->
								<!-- <input type="text" class="form-control" id="insurance_name" placeholder="Enter Name" name="insurance_name" maxlength="100" ng-model="ctrl.employee.empHealthPlan.carrierName" required> -->
								<span class="error" ng-show="editEmployeeForm.insurance_name.$touched && editEmployeeForm.insurance_name.$invalid">Please select Health Carrier</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Plan Type</label>
								<input type="text" class="form-control" id="insurance_type" placeholder="Enter Type" name="insurance_type" maxlength="20" ng-model="ctrl.employee.empHealthPlan.planType">
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Covered Members</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="insurance_coveredmembers" placeholder="Enter Number of Members" name="insurance_coveredmembers" maxlength="2" ng-model="ctrl.employee.empHealthPlan.numCovdMembers" required>
								<span class="error" ng-show="editEmployeeForm.insurance_coveredmembers.$touched && editEmployeeForm.insurance_coveredmembers.$invalid">Please enter Covered Members</span>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Effective Date</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="insurance_effectivedate" placeholder="Enter Effective Date" name="insurance_effectivedate" maxlength="10" ng-model="ctrl.employee.empHealthPlan.effectiveDate" required>
								<span class="error" ng-show="editEmployeeForm.insurance_effectivedate.$touched && editEmployeeForm.insurance_effectivedate.$invalid">Please enter Effective Date</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Terminate Date</label><input type="text" class="form-control" id="insurance_terminationdate" placeholder="Enter Termination Date" name="insurance_terminationdate" maxlength="10" ng-model="ctrl.employee.empHealthPlan.termDate">
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Immigration Details</legend>
						<div class="col-sm-12">
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Immigration Type</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="imm_type" placeholder="Enter Type" name="imm_type" maxlength="10" ng-model="ctrl.employee.empImmigrationDtl.immType" required>
								<span class="error" ng-show="editEmployeeForm.imm_type.$touched && editEmployeeForm.imm_type.$invalid">Please enter Type</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">Start Date</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="imm_start_date" placeholder="Enter Start Date" name="imm_start_date" maxlength="10" ng-model="ctrl.employee.empImmigrationDtl.startDate" required>
								<span class="error" ng-show="editEmployeeForm.imm_start_date.$touched && editEmployeeForm.imm_start_date.$invalid">Please enter Start Date</span>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								<label class="lable-color">End Date</label><label class="require-field">*</label>
								<input type="text" class="form-control" id="imm_end_date" placeholder="Enter End Date" name="imm_end_date" maxlength="10" ng-model="ctrl.employee.empImmigrationDtl.endDate" required>
								<span class="error" ng-show="editEmployeeForm.imm_end_date.$touched && editEmployeeForm.imm_end_date.$invalid"> Please enter End Date</span>
							</div>
						</div>
					</fieldset>
				</div>				
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</section>
</div>